.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup::before {
  position: absolute;
  content: "";
  background-color: #000000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}
