.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 46.25px;
}

@media (max-width: 320px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    margin-bottom: 36px;
  }
}
