.popupimg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.popupimg::before {
  position: absolute;
  content: "";
  background-color: #000000;
  opacity: 0.9;
  height: 100%;
  width: 100%;
}
