.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: min-content;
  gap: 20px 17px;
}

@media (max-width: 320px) {
  .elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
