.profile__addbutton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-left: 244px;
  color: white;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 14px 64px;
}

@media (max-width: 320px) {
  .profile__addbutton {
    width: 282px;
    margin: 0;
    padding: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 17px 133px;
  }
}

.profile__addbutton:hover {
  opacity: 0.6;
}
