.profile__editbutton {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  max-width: 24px;
  min-height: 24px;
  padding-left: 18px;
}

@media (max-width: 320px) {
  .profile__editbutton {
    max-width: 18px;
    min-height: 18px;
    padding-left: 10px;
  }
}

.profile__editbutton:hover {
  opacity: 0.6;
}
